.main-container {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scrollbar-width: none;
}

.sub-section {
  /* min-height: 100vh; */
  scroll-snap-align: start;
}

svg {
  width: 20%;
  height: 70px;
}

path {
  fill: none;
  stroke: gray;
  stroke-width: 8;
  stroke-linecap: round;
  /* stroke-dasharray: 300;
  stroke-dashoffset: 300;
  animation: draw 2s linear forwards; */
}

@keyframes draw {
  from {
    stroke-dashoffset: 300;
  }
  to {
    stroke-dashoffset: 0;
  }
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
}

.scrollbar-hide {
  -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
  scrollbar-width: none; /* Hide scrollbar for Firefox */
}
